{% extends 'index.html' %}

{% block loginForm %}
{% endblock %}

{% block menuRight %}
<div class="clearfix"></div>
{% endblock %}

{% block page %}
    <div id="login-form">
        <div class="fullscreen-border">
            <h3 class="pull-left" style="color: white; margin-top: 3px; margin-left: 5px;">Logowanie</h3>
        </div>
        <form class="form-horizontal" role="form" action="/auth/signin" method="POST">
			{{ logform.csrf_token }}
            <div class="margined">{{ logform.email(type="email", class="form-control", placeholder="Twój adres email") }}</div>
            <div class="margined">{{ logform.pas(type="password", class="form-control", placeholder="Twoje hasło") }}</div>
            <div class="margined">{{ logform.remember(type="checkbox") }} <span style="margin-left: 5px;">Zapamiętaj mnie</span></div>
                
                    <div class="text-right"><input type="submit" class="btn btn-primary" value="Zaloguj"></div>
                
                <div><span>Jeśli nie masz konta możesz się <a href="/auth/signup">zarejestrować</a>. To jest darmowe!</span></div>
            
        </form>
    </div>
{% endblock %}

