{% extends 'index.html' %}

{% block page %}
<div id="register-form">
	<div class="fullscreen-border">
        <h3 class="pull-left" style="color: white; margin-top: 3px; margin-left: 5px;">Rejestracja</h3>
    </div>
      <form method="POST" class="form-horizontal" role="form" action="">
        {{ form.csrf_token }}
        <div class="margined">{{ form.email(type="email", class="form-control", placeholder="Twój adres email", required="true") }}</div>
        <div class="margined">{{ form.pas(type="password", class="form-control", placeholder="Twoje hasło", required="true") }}</div>
        <div class="margined">{{ form.rep(type="password", class="form-control", placeholder="Potwierdź twoje hasło", required="true") }}</div>
        <div class="margined">{{ form.accept ( type="checkbox", required="true") }}<span style="margin-left: 5px;">Akceptuję <a>regulamin</a> i <a>politykę prywatności</a></span>
            <div class="text-right"><input type="submit" value="Rejestruj" class="btn btn-primary"></div>
        </div>
      </form>
</div>
{% endblock %}

