{% extends 'panel/panel.html' %}

{% block pageMiddle %}
    <div>
        <div class="frame-title">Zamówienia archiwalne</div>
        <div style="padding: 5px;">
            <table class="table">
                <thead>
                    <tr>
                         <th>Numer
                        	<a href="/panel/archivals/sort/number_up/">&#9660;</a> 
							<a href="/panel/archivals/sort/number_down/">&#9650;</a>
                        </th>
                        <th>Zamówienie
                        	<a href="/panel/archivals/sort/date_up/">&#9660;</a> 
							<a href="/panel/archivals/sort/date_down/">&#9650;</a>
                        </th>
                       <th>Archiwizacja</th>
                        <th>Wartość</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in archivals %}
                    <tr>
                        <td style="vertical-align: middle;">{{a.order_id }}</td>
                        <td style="vertical-align: middle;">{{ a.date_ordered }}</td>
                        <td style="vertical-align: middle;">{{ a.date_archived }}</td>
                        <td style="vertical-align: middle;">{{ "{0:.2f}".format(a.price/100.0) }} PLN</td>
                        {% if a.status == a.ENUM_STATUS_VALUES[0] %}
                            <td style="vertical-align: middle;"><span class="btn btn-xs btn-info">{{a.status}}</span></td>
                        {% elif a.status == a.ENUM_STATUS_VALUES[1] %}
                            <td style="vertical-align: middle;"><span class="btn btn-xs btn-warning">{{a.status}}</span></td>
                        {% elif a.status == a.ENUM_STATUS_VALUES[2] %}
                            <td style="vertical-align: middle;"><span class="btn btn-xs btn-success">{{a.status}}</span></td>
                        {% elif a.status == a.ENUM_STATUS_VALUES[3] %}
                            <td style="vertical-align: middle;"><span class="btn btn-xs btn-default">{{a.status}}</span></td>
                        {% endif %}
                        <td><a href="/panel/archivals/show/{{ a.id }}/">Szczegóły</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="text-align: center;">
            {% if page > 1 %}
				<a href="/panel/archivals/page/{{ page-1 }}/sort/{{ sort }}/">&#9668; previous</a>
			{% endif %}
			{% if page > 1 and  page < max %}
				<span style="margin:10px">|</span>
			{% endif %}
			{% if page < max %}
				<a href="/panel/archivals/page/{{ page+1 }}/sort/{{ sort }}/">next &#9658;</a>
			{% endif %}
			</div>

        </div>
    </div>
{% endblock %}
