{% extends 'panel/panel.html' %}

{% block loginForm %}
{% endblock %}

{% block pageMiddle %}
<div>
	<div class="fullscreen-border">
        <h3 class="pull-left" style="color: white; margin-top: 3px; margin-left: 5px;">{{ product.name }}</h3>
    </div>
		<a class="btn btn-default" href="remove/" style="font-size:18px; margin-left: auto; margin-right: auto; display: block; width:50%;">Usuń ten produkt</a>
    <div>
    </div>
    <table class="table">
		<tr><td colspan="3"><div class="frame-title">Nazwa</div></td></tr>
		<tr><td colspan="3">
			<form action="" method="POST" class="form-horizontal" role="form">
				<input type="hidden" name="attr" value="name">
				<input type="text" class="form-control" name="nval" value="{{ product.name }}">
				<input type="submit" class="btn btn-default" value="Zmień" style="width:100px;">
			</form>
		</td></tr>
		<tr><td colspan="3"><div class="frame-title">Cena</div></td></tr>
		<tr><td colspan="3">
			<form action="" method="POST" class="form-horizontal" role="form">
				<input type="hidden" name="attr" value="unit_price">
				<input type="text" class="form-control" pattern="\d+\.\d\d" name="nval" value="{{ "{0:.2f}".format(product.unit_price/100.0) }}">
				<input type="submit" class="btn btn-default" value="Zmień" style="width:100px;">
			</form>
		</td></tr>
		<tr><td colspan="3"><div class="frame-title">Ilość na stanie</div></td></tr>
		<tr><td colspan="3">
			<form action="" method="POST" class="form-horizontal" role="form">
				<input type="hidden" name="attr" value="units_in_stock">
				<input type="text" class="form-control" name="nval" value="{{ product.units_in_stock }}">
				<input type="submit" class="btn btn-default" value="Zmień" style="width:100px;">
			</form>
		</td></tr>
		<tr><td colspan="3"><div class="frame-title">Zdjęcie</div></td></tr>
		<tr><td colspan="3">
			<form action="" method="POST" class="form-horizontal" role="form" enctype="multipart/form-data">
				<input type="hidden" name="attr" value="photo">
				<img style="width:200px; height:200px;" src="{{ product.photo_src }}"/><br/>
				<input type="file" name="photo" required="true">
				<input type="submit" class="btn btn-default" value="Zmień" style="width:100px;">
			</form>
		</td></tr>
		<tr><td colspan="3"><div class="frame-title">Opis</div></td></tr>
		<tr><td colspan="3">
			<form action="" method="POST" class="form-horizontal" role="form">
				<input type="hidden" name="attr" value="description">
				<textarea rows="5" type="text" class="form-control" name="nval">{{ product.description }}</textarea>
				<input type="submit" class="btn btn-default" value="Zmień" style="width:100px;">
			</form>
		</td></tr>
		
		<tr><td colspan="3"><div class="frame-title">Parametry</div></td></tr>
		{% for p in product.properties %}
		<tr><td colspan="3">
			<form action="" method="POST" class="form-horizontal" role="form" id="form{{p.id}}">
				<input type="hidden" name="attr" value="property">
				<input type="hidden" id="m{{p.id}}" name="mode" value="ch">
				<input type="hidden" name="key" value="{{p.key}}">
				{{ p.key }}
				<input type="text" class="form-control" name="nval" value="{{ p.value }}">
				<input type="submit" class="btn btn-default" value="Zmień" style="width:100px;">
				<button class="btn btn-default" onclick='document.getElementById("m{{p.id}}").value="rm"; document.getElementById("form{{p.id}}").submit();'>Usuń</button>
			</form>
		</td></tr>
		{% endfor %}
		<tr><td>
			<form action="" method="POST" class="form-horizontal" role="form">
				<input type="hidden" name="attr" value="add_property">
				<input type="text" class="form-control" name="key" placeholder="Parametr" style="width:200px; display:inline;">
				<input type="text" class="form-control" name="nval" placeholder="Wartość" style="width:200px; display:inline;">
				<input type="submit" class="btn btn-default" value="Dodaj" style="width:100px; display: inline;">
			</form>
		</td></tr>
		
		
		
    </table>
</div>
{% endblock %}
