{% extends 'index.html' %}

{% block menuRight %}
<li>{{ g.current_user.firstname }} {{ g.current_user.surname }}</li>
<li><a href="/auth/signout/">Wyloguj</a></li>
{% endblock %}


{% block pageLeft %}
<div>
	<div class="frame-title">Panel</div>
	<ul class="list-unstyled" style="padding-left: 5px; padding-right: 5px;">
		<li><a href="/panel/products/">Dodaj produkt</a></li>
		<li><a href="/panel/modify/">Produkty</a></li>
		<li><a href="/panel/orders/">Zamówienia aktualne</a></li>
		<li><a href="/panel/archivals/">Zarchiwizowane</a></li>
    </ul>
 </div>
 
{% endblock %}



{% block pageRight %}
{% endblock %}

{% block pageMiddle %}
{% endblock %}
