{% extends 'index.html' %}

{% block pageMiddle %}
    <script>
        $(document).ready(cartView.recount);
    </script>
    <div>
        <div class="frame-title">Koszyk</div>
        <div style="padding: 5px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Cena jednostkowa</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for product, amount in cart.items() %}
                        <tr name="product">
                            <input type="hidden" name="productid" value="{{ product.id }}"/>
                            <td>{{ product.name }}</td>
                            <td>{{ product.unit_price }} PLN</td>
                            <td>x<input type="number" pattern="\d+" style="width: 20%; margin-left: 5px;" value="{{ amount }}" /></td>
                            <td></td>
                            <td>
                                <a type="button" class="close" aria-hidden="true" href="/products/{{ product.id }}/remove/">&times;</a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td class="text-right" colspan="3"><b>Suma</b></td>
                        <td><span id="Sum"></span></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <button type="button" class="btn btn-default">Wyczyść</button>
                <button type="button" class="btn btn-default" onclick="cartView.recount()">Przelicz</button>
                <a href="/orders/new"><button type="button" class="btn btn-primary">Zamawiam</button></a>
            </div>
        </div>
    </div>
{% endblock %}
