{% extends 'index.html' %}

{% block pageMiddle %}
    <div>
        <div class="frame-title">Koszyk</div>
        <div style="padding: 5px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Cena jednostkowa</th>
                        <th>Ilość</th>
                        <th>Cena</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
					{% for c in cart %}
                    <tr name="product">
                        <td>{{ c.name }}</td>
                        <td>{{ c.unit_price }} PLN</td>
                        <td>x<input type="number" pattern="\d+" style="width: 20%; margin-left: 5px;" value="1" /></td>
                        <td></td>
                        <td>
                            <a type="button" class="close" aria-hidden="true" href="/products/{{ c.id }}/remove/">&times;</a>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td class="text-right" colspan="3"><b>Suma</b></td>
                        <td><span id="Sum"></span></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="text-right">
                <button type="button" class="btn btn-default">Wyczyść</button>
                <button type="button" class="btn btn-default" onclick="recount()">Przelicz</button>
                <button type="button" class="btn btn-primary">Zamawiam</button>
            </div>
            <script>
				function recount()
				{
					var elements = document.getElementsByName("product");
					var sum = 0;
					for (var i=0; i<elements.length; i++)
					{
						var p = elements[i].children[1].innerHTML;
						var x = elements[i].children[2].children[0].value;
						
						elements[i].children[3].innerHTML = x * parseFloat(p) + " PLN";
						sum += x * parseFloat(p);
					}
					document.getElementById("Sum").innerHTML = sum + " PLN";
				}
				recount();
            </script>
        </div>
    </div>
{% endblock %}
