{% extends 'index.html' %}

{% block pageMiddle %}
    <div>
        <div class="frame-title">{{ category.value }}</div>
        <div style="padding: 5px;">
           <table class="table">
                <thead>
                    <tr>
                        <th>Nazwa 
							<a href="/products/category/{{ category.id }}/sort/name_up/">&#9660;</a> 
							<a href="/products/category/{{ category.id }}/sort/name_down/">&#9650;</a>
						</th>
                        <th>Opis</th>
                        <th>Cena 
                        	<a href="/products/category/{{ category.id }}/sort/price_up/">&#9660;</a> 
							<a href="/products/category/{{ category.id }}/sort/price_down/">&#9650;</a>
						</th>
                        <th>Dostępność</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
					{% for p in products %}
                    <tr>
                        <td style="vertical-align: middle;">{{ p.name }}</td>
                        <td style="vertical-align: middle; font-style: italic;">{{ p.description }}</td>
                        <td style="vertical-align: middle;">{{ "{0:.2f}".format(p.unit_price/100.0) }} PLN</td>
                        {% if p.units_in_stock > 0%}
							<td style="vertical-align: middle;"><span class="btn btn-xs btn-success">dostępny</span></td>
						{% else %}
						    <td style="vertical-align: middle;"><span class="btn btn-xs btn-danger">niedostępny</span></td>
						{% endif %}
                        <td style="vertical-align: middle;"><a href="/products/{{ p.id }}/"><span class="btn btn-xs btn-default">zobacz</span></a></td>
                    </tr>					
					{% endfor %}
                </tbody>
            </table>
            <div style="text-align: center;">
            {% if page > 1 %}
				<a href="/products/category/{{ category.id }}/page/{{ page-1 }}/sort/{{ sort }}/">&#9668; previous</a>
			{% endif %}
			{% if page > 1 and  page < max %}
				<span style="margin:10px">|</span>
			{% endif %}
			{% if page < max %}
				<a href="/products/category/{{ category.id }}/page/{{ page+1 }}/sort/{{ sort }}">next &#9658;</a>
			{% endif %}
			</div>            
        </div>
    </div>
{% endblock %}
