{% extends 'index.html' %}

{% block pageMiddle %}
    <div>
        <div class="frame-title">{{ category.value }}</div>
        <div style="padding: 5px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Parametry</th>
                        <th>Cena</th>
                        <th>Dostępność</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
					{% for p in products %}
                    <tr>
                        <td style="vertical-align: middle;">{{ p.name }}</td>
                        <td style="vertical-align: middle; font-style: italic;">{{ p.description }}</td>
                        <td style="vertical-align: middle;">{{ p.unit_price }} PLN</td>
                        {% if p.units_in_stock > 0%}
							<td style="vertical-align: middle;"><span class="btn btn-xs btn-success">dostępny</span></td>
						{% else %}
						    <td style="vertical-align: middle;"><span class="btn btn-xs btn-danger">niedostępny</span></td>
						{% endif %}
                        <td style="vertical-align: middle;"><a href="/products/{{ p.id }}/"><span class="btn btn-xs btn-default">zobacz</span></a></td>
                    </tr>					
					{% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
