{% extends 'index.html' %}

{% block pageMiddle %}
    <div>
        <div class="frame-title">Obserwowane</div>
        <div style="padding: 5px;">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Produkt
							<a href="/observed/sort/name_up/">&#9660;</a> 
							<a href="/observed/sort/name_down/">&#9650;</a>
                        </th>
                        <th class="text-center">Cena
                            <a href="/observed/sort/price_up/">&#9660;</a> 
							<a href="/observed/sort/price_down/">&#9650;</a>
						</th>
                        <th class="text-center">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
					{% for product in items %}
                    <tr>
                        <td class="text-center">
							<a href="/products/{{ product.id }}">{{ product.name }}</a>
						</td>
                        <td class="text-center">
							{{ "{0:.2f}".format(product.unit_price/100) }} PLN
						</td>
						{% if product.units_in_stock > 0 %}
						<td class="text-center">
							<span class="btn btn-xs btn-success">dostępny</span>
						</td>
						{% else %}
						<td class="text-center">
							<span class="btn btn-xs btn-danger">niedostępny</span>
						</td>
						{% endif %}
                        <td class="text-right">
							<a class="btn btn-sm btn-default" href="/products/{{ product.id }}/unobserve">Usuń</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
				<div style="text-align: center;">
				{% if page > 1 %}
					<a href="/observed/page/{{ page-1 }}/sort/{{ sort }}/">&#9668; previous</a>
				{% endif %}
				{% if page > 1 and  page < max %}
					<span style="margin:10px">|</span>
				{% endif %}
				{% if page < max %}
					<a href="/observed/page/{{ page+1 }}/sort/{{ sort }}/">next &#9658;</a>
				{% endif %}
				</div>
            </table>
        </div>
    </div>
{% endblock %}
