{% extends 'index.html' %}

{% block pageMiddle %}
    <div>
        <div class="frame-title">Obserwowane</div>
        <div style="padding: 5px;">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center">Produkt</th>
                        <th class="text-center">Cena</th>
                        <th class="text-center">Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
					{% for product in items %}
                    <tr>
                        <td class="text-center">
							<a href="../products/{{ product.id }}">{{ product.name }}</a>
						</td>
                        <td class="text-center">
							{{ "{0:.2f}".format(product.unit_price/100) }} PLN
						</td>
						{% if product.units_in_stock > 0 %}
						<td class="text-center">
							<span class="btn btn-xs btn-success">dostępny</span>
						</td>
						{% else %}
						<td class="text-center">
							<span class="btn btn-xs btn-danger">niedostępny</span>
						</td>
						{% endif %}
                        <td class="text-right">
							<a class="btn btn-sm btn-default" href="../products/{{ product.id }}/unobserve">Usuń</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
