{% extends "index.html" %}
{% block pageMiddle %}
<div class="frame-title">Acer Aspire One 1234</div>


<div style="margin-top: 40px;">
	<img class="pull-left" style="border: solid 2px #a0c5e4; margin: 0px 10px 10px 10px;" src="/static/images/nophoto.png" alt="brak zdjecia" width="250" height="250"/>
	<div class="pull-right" >
		<button class="btn btn-default btn-lg">Obserwuj</button>
		<button class="btn btn-primary btn-lg">Kup</button>
	</div>
	<p>Cena: 2000 PLN</p>
	<p>Ocena klientów:
			<img class="star" src="/static/images/star.png"/>
			<img class="star" src="/static/images/star.png"/>
			<img class="star" src="/static/images/star.png"/>
			<img class="star" src="/static/images/star.png"/>
			<img class="star" src="/static/images/star.png"/>
	</p>
	<div class="opis">	
	{{ lorem[:900] }}
	</div>

</div>

<div class="clearfix">
<table class="table">
	<tr>
		<th class="text-right">Parametr</td>
		<th>Wartość</td>
	</tr>
	<tr>
		<td class="text-right">Model</td>
		<td>Acer</td>
	</tr>
	<tr>
		<td class="text-right">Dysk</td>
		<td>500 GB</td>
	</tr>
	<tr>
		<td class="text-right">Pamięć RAM</td>
		<td>1 GB</td>
	</tr>
	<tr>
		<td class="text-right">Karta dźwiękowa</td>
		<td>High Definition Audio<br/>
			Waves MaxxAudio 4<br/>
			2 wbudowane głośniki<br/>
			Wbudowany mikrofon<br/>
		</td>
	</tr>
	<tr>
		<td class="text-right">Pamięć RAM</td>
		<td>1 GB</td>
	</tr>
</table>	
</div>	
	<h4>Comments</h4>
		
	<div class="comment">
		<div><b>robin3d</b><span class="time">2014-01-03</span></div>
			<span class="rate">
				<img class="star" src="/static/images/star.png"/>
				<img class="star" src="/static/images/star.png"/>
				<img class="star" src="/static/images/star.png"/>
				<img class="star" src="/static/images/star.png"/>
				<img class="star" src="/static/images/star.png"/>
			</span>
		<div class="text">
		Bardzo bardzo smaczne. Mojej dziewczynie bardzo smakowało. :)
		</div>
	</div>

	<div class="comment">
		<div><b>robin3d</b><span class="time">2014-01-03</span></div>
			<span class="rate">
				<img class="star" src="/static/images/star.png"/>
				<img class="star" src="/static/images/star.png"/>
				<img class="star" src="/static/images/star.png"/>
				<img class="star" src="/static/images/star.png"/>
				<img class="star" src="/static/images/star.png"/>
			</span>
		<div class="text">
		Bardzo bardzo smaczne. Mojej dziewczynie bardzo smakowało. :)
		Bardzo bardzo smaczne. Mojej dziewczynie bardzo smakowało. :)
		Bardzo bardzo smaczne. Mojej dziewczynie bardzo smakowało. :)
		Bardzo bardzo smaczne. Mojej dziewczynie bardzo smakowało. :)
		Bardzo bardzo smaczne. Mojej dziewczynie bardzo smakowało. :)
		</div>
	</div>


	<div class="comment">
		<div><b>robin3d</b><span class="time">2014-01-03</span></div>
			<span class="rate">
				<img class="star" src="/static/images/star.png"/>
				<img class="star" src="/static/images/star.png"/>
				<img class="star" src="/static/images/star.png"/>
				<img class="star" src="/static/images/star.png"/>
				<img class="star" src="/static/images/star.png"/>
			</span>
		<div class="text">
		Bardzo bardzo smaczne. Mojej dziewczynie bardzo smakowało. :)
		</div>
	</div>

		
{% endblock %}
