{% extends "index.html" %}

{% block pageMiddle %}
<div class="frame-title">{{ product.name }}</div>
<div style="margin-top: 40px;">
	<img class="pull-left" style="border: solid 2px #a0c5e4; margin: 0px 10px 10px 10px;" src="/static/images/nophoto.png" alt="brak zdjecia" width="250" height="250"/>
	<div class="pull-right" >
		<a href="./observe/" class="btn btn-default btn-lg">Obserwuj</a>
		<button class="btn btn-primary btn-lg">Kup</button>
	</div>
	<p>Cena: {{ product.unit_price }} PLN</p>
	<p>Ocena klientów:
			{% for i in range(rate) %}
				<img class="star" src="/static/images/star.png"/>
			{% endfor %}
	</p>
	<div class="opis">	
	{{ product.description }}
	</div>
</div>

<div class="clearfix">
<table class="table">
	<tr>
		<th class="text-right">Parametr</td>
		<th>Wartość</td>
	</tr>
	{% for pro in properties %}
	<tr>
		<td class="text-right">{{ pro.key }}</td>
		<td>{{ pro.value }}</td>
	</tr>
	{% endfor %}
</table>	
</div>

    <div>
        <div class="frame-title">Komentarze</div>
        {% if allow_comment %}
        <form id="comment-form" class="form-horizontal" role="form" action="comments/new" method="POST" name="add-product-form">
            <input type="hidden" name="rate" value="0" pattern="[1,2,3,4,5]{1}"/>
            <table class="form-table" style="width: 100%;">
                <tr>
                    <td>Ocena</td>
                    <td>
                        <span id="stars-comment-form" class="list-inline" style="font-size: 24px;">
                            <span onclick="addCommentForm.clickStar(1)">&star;</span>
                            <span onclick="addCommentForm.clickStar(2)">&star;</span>
                            <span onclick="addCommentForm.clickStar(3)">&star;</span>
                            <span onclick="addCommentForm.clickStar(4)">&star;</span>
                            <span onclick="addCommentForm.clickStar(5)">&star;</span>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2"><textarea class="form-control" name="comment" placeholder="Skomentuj produkt..." style="resize: vertical;"></textarea></td>
                </tr>
            </table>
            <table class="form-table" style="width: 100%;">
                <tr>
                    <td class="text-right">
                        <span class="btn btn-default" onclick="addCommentForm.clear()">Wyczyść</span>
                        <button type="submit" class="btn btn-primary">Napisz</button>
                    </td>
                </tr>
            </table>
        </form>
        {% else %}
            <span>Nie masz prawa do komentowania produktu!</span><br/>
            <span>Żeby komentować musisz być zalogowany i zakupić produkt, ponadto każdy produkt możesz komentować tylko raz.</span>
        {% endif %}
    </div>

	{% for comment in comments %}
		<div class="comment">
			<div><b>{{ comment.customer_id }}</b><span class="time">{{ comment.date }}</span></div>
			<span class="rate">
				{% for i in range(comment.rate) %}
				<img class="star" src="/static/images/star.png"/>
				{% endfor %}
			</span>
			<div class="text">{{ comment.text }}</div>
		</div>
	{% endfor %}
		
{% endblock %}
